/* Footer */

.footer {
	width: 100%;

	margin-top: 5rem;
	padding-bottom: 1rem;

	display: flex;
	flex-direction: row;
}

@media (min-width: 768px) {
	.footer {
		padding-bottom: 5rem;
	}
}

/* Footer rows */

.footer-row {
	width: calc(50% - 2rem * 1/2);
	margin-right: 2rem;
}

.footer-row:last-child {
	margin-right: 0;
}