.pe-gallery {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

/* Gallery image container overwrite */

.pe-gallery .pe-image-container {
	margin-bottom: 0rem;
}

/* Bottom margin */

.pe-gallery-item {
	margin-bottom: 1rem;
}

.pe-gallery-item-no-margin {
	margin-bottom: 0;
}

@media (max-width: 575px) {
	.pe-gallery-item-no-margin-mobile {
		margin-bottom: 0;
	}
}

/* Column count */

	/* 2 Columns */

.pe-gallery-2 .pe-gallery-item {
	width: 100%;
	margin-right: 0;
}

@media (min-width: 576px) {
	.pe-gallery-2 .pe-gallery-item {
		width: calc(50% - 1rem * 1/2);
		margin-right: 1rem;
	}

	.pe-gallery-2 .pe-gallery-item:nth-child(2n) {
		margin-right: 0;
	}
}

	/* 3 Columns */

.pe-gallery-3 .pe-gallery-item {
	width: calc(50% - 1rem * 1/2);
	margin-right: 1rem;
}

@media (max-width: 575px) {
	.pe-gallery-3 .pe-gallery-item:nth-child(2n) {
		margin-right: 0;
	}
}

@media (min-width: 576px) {
	.pe-gallery-3 .pe-gallery-item {
		width: calc(100%/3 - 1rem * 2/3);
		margin-right: 1rem;
	}

	.pe-gallery-3 .pe-gallery-item:nth-child(3n) {
		margin-right: 0;
	}
}
