/* Container */

.pe-image-container {
	max-width: 100%;

	margin-bottom: 1rem;
}

figure {
	margin-bottom: 0;
}

.pe-image-container figure {
	width: fit-content;
}

.pe-image-container figcaption {
	font-size: 1rem;
	color: var(--secondary-text-color);

	text-align: center;
	margin-top: 1px;
}

/* Image */

.pe-image {
	max-width: 100%;
}

/* Style */

.pe-image-rounded {
	border-radius: 4px;
}

/* Zoom style overwrite */

[data-rmiz-modal-overlay="visible"] {
	background-color: rgba(0, 0, 0, 0.84) !important;
}

[data-rmiz-modal] {
	outline-width: 0 !important;
}