/* Container */

.pe-image-container {
	max-width: 100%;

	margin-bottom: 1.0rem;
}

/* Image */

.pe-image {
	max-width: 100%;
}

/* Style */

.pe-image-rounded {
	border-radius: 4px;
}

/* Zoom style overwrite */

[data-rmiz-modal-overlay="visible"] {
	background-color: rgba(0, 0, 0, 0.84) !important;
}

/* Style */

.pe-image-round {
	border-radius: 4px;
}