.pe-inline {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	gap: .75rem;
	row-gap: .5rem;
}

/* Children width */

.pe-inline-same-width * {
	flex-basis: 100%;
}

/* No wrap */

.pe-inline-no-warp {
	flex-wrap: nowrap !important;
}