.pe-inline {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.pe-inline-same-width * {
	flex-basis: 100%;
}

	/* children spacing */

.pe-inline > *:not(:last-child) {
	margin-right: 0.75rem;
}