.pe-link {
	position: relative;

	color: inherit;
	text-decoration: none;
}

.pe-link:after {
	content: "";
	position: absolute;
	left: -2px;
	bottom: 0;
	z-index: -1;

	width: calc(100% + 4px);
	height: 3px;

	background-color: var(--link-underline-color);

	transition: height 0.3s;
}

.pe-link:hover:after {
	height: calc(100% + 1px);
}

.pe-link:active {
	height: 100%;
}

.pe-link:visited {
	color: inherit;
}

/* Horizontal size */

.pe-link-horizontal-size-wide:after {
	left: -4px;
	width: calc(100% + 8px);
}