/* Text */

.pe-text {
	overflow-wrap: anywhere;
	line-height: 1.80;
}

/* Weight */

.pe-text-weight-bold {
	font-weight: 900;
}

.pe-text-weight-normal {
	font-weight: 400;
}

.pe-text-weight-light {
	font-weight: 200;
}